/*-----------------------------------Definições gerais de template-----------------------------------*/
/*Tela sempre 100% ocupada e fonte sem serifa*/
body{
    min-height: 100vh;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
/*Tirar sublinhado de todos os links*/
a{
    text-decoration: none;
}
/*Definições gerais de cabeçalho e rodapé*/
header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #334966;
    color: #FFFFFF;
}
header a{
    color: #FFFFFF;
}
footer{
    padding: 10px;
    background-color: #334966;
    color: #FFFFFF;
    text-align: center;
}
/*Spacer sendo usado para centralizar o título da página*/
.site-title, .spacer{
    width: 140px;
    padding: 0 25px;
}
/*Definições gerais da barra de navegção*/
nav{
    background-color: #6c829d;
    color:bisque;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}
nav a {
    background-color: #FFA500;
    padding: 5px 18px;
    border-radius: 10px;
    color: black;
    font-weight: 600;
    font-size: large;
    border: solid 2px  #334966;
}
nav a:hover{
   background-color: #F7C6A3;
   color: black;
}
/*Definições gerais da parte do conteúdo das páginas 
(flex 1 usado para que ocupe todo o espaço restante da janela)*/    
main{
    padding: 10px 30%;
    background-color: #F4F7FA;
    flex:1;
}


/*-----------------------------------Definições específicas de cada página-----------------------------------*/
/*home*/
#home{
    display: flex;
    justify-content: center;
    gap: 20px;
}
#home p{
    font-size: 30px;
    text-align: justify;
}
#home img{
    width: 200px;  
}

/*sobre-mim*/
#sobre-mim{
    font-size: 25px;
}

/*formacao*/
#formacao ul{
    padding: 0 5px;
    margin-top: 0;
}
#formacao ul li{
    list-style: none;
    margin: 10px 0;
    font-size: 20px;
}
#formacao h2{
    margin-bottom: 0;
}

/*portfolio*/
#portfolio h3{
    font-size: 22px;
}
#portfolio{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
}
#portfolio .legenda{
    margin: 0;
    font-size: 18px;
}
#portfolio a{
    display: flex;
    justify-content: center;
    align-items: center;
}
#portfolio a div{
    width: 450px;
    background-color: #FFA500;
    padding: 10px 0;
    border-radius: 10px;
    color: black;
    font-weight: 600;
    font-size: 20px;
    border: solid 2px  #334966;
    margin-bottom: 10px;
}
#portfolio a div:hover{
    background-color: #F7C6A3;
}
#portfolio .trabalho{
    margin-bottom: 30px;
    text-align: center;
}
.trabalho{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}
.trabalho img {
    width: 400px;
}

/*contato*/
#contato{
    display: flex;
    flex-direction: column;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}
input, textarea{
    margin: 0 20px 20px 0;
    font-size: 18px;
    padding: 2px 5px;
    width: 500px;
}
textarea{
    resize: none;
}
#submit{
    border-radius: 10px;
    padding: 5px 20px;
    background-color: #FFA500;
}
#submit:hover{
       background-color: #F7C6A3;
}
